.navbar {
    height: 75px;
    background: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0 10px 30px rgba(0, 0, 0, .08);
}
.menu-button {
    display: none;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: #1c7e48;
}
.search-box {
    width: 400px;
    height: 40px;
    background: #f4f6f9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 18px;
    color: #777;
}
.search-box input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
}
.navbar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.notification {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: #f4f6f9;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #1c7e48;
}
.notification:hover{ 
    background-color: #ffffff;
    color:#1c7e48;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.notification span {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    background: #ff4d4d;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout{
    border:none;
    background:#1c7e48;
    color:white;
    padding:10px 18px;
    border-radius:12px;
    cursor:pointer;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:8px;
    transition:.3s;
}

.logout:hover{

    background:#145c35;

    transform:translateY(-2px);

}
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-icon {
    font-size: 40px;
    color: #1c7e48;
}
.profile strong {
    display: block;
    font-size: 14px;
}
.profile small {
    color: #777;
    font-size: 12px;
}
.logout {
    border: none;
    background: #1c7e48;
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}
.logout:hover {
    background: #155f36;
}
@media(max-width:1000px) {
    .navbar {
        padding: 0px;
    }
    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-button:hover {
        cursor: pointer;
        background-color: white;
        color: #00d25e;
    }
    .search-box {
        width: 100px;
    }
}
@media(max-width:700px) {
    .navbar {
        padding: 0px;
    }
    .search-box {
        display: none;
    }
    .profile div {
        display: none;
    }
    .logout {
        display: none;
    }
    .navbar-right {
        gap: 10px;
    }
}