.layout{

    display:flex;

    min-height:100vh;

    background:#f5f7fb;

}
.main-header{
    position:fixed !important;
    top:0;
    display: flex;
    justify-content: center;
    z-index: 900;
    width: 100%;
}
.main-content{
    margin-top: 70px;
    flex:1;
    margin-left:280px;
    width:calc(100% - 280px);
    transition:.3s;
}



.page-content{

    padding:25px;

}





/* Tablet + Mobile */

@media(max-width:900px){


    .main-content{


        margin-left:0;


        width:100%;


    }



    .page-content{


        padding:15px;


    }


}