.layout{

    display:flex;

    min-height:100vh;

    background:#f5f7fb;

}


/* Main content */

.main-content{

    flex:1;

    margin-left:260px;

    width:calc(100% - 260px);

    transition:.3s;

}



.page-content{

    padding:25px;

}





/* Tablet + Mobile */

@media(max-width:900px){


    .main-content{


        margin-left:0;


        width:100%;


    }



    .page-content{


        padding:15px;


    }


}